<launch>
  
  <arg name="paused" default="false"/>
  <arg name="use_sim_time" default="true"/>
  <arg name="gui" default="true"/>
  <arg name="headless" default="false"/>
  <arg name="debug" default="false"/>
  
  <include
    file="$(find  hexapod_description2)/launch/terrian.launch" >
    <!-- <arg name="debug" value="$(arg debug)" />
    <arg name="gui" value="$(arg gui)" />
    <arg name="paused" value="$(arg paused)"/>
    <arg name="use_sim_time" value="$(arg use_sim_time)"/>
    <arg name="headless" value="$(arg headless)"/> -->
  </include>
  
  <param name="robot_description" command="$(find xacro)/xacro '$(find  hexapod_description2)/urdf/hexapod_description2_mdf_init.urdf'"/>
  
  <node name="urdf_spawner" pkg="gazebo_ros" type="spawn_model"
             respawn="false" output="screen"
             args="-urdf -model  hexapod_description2 -param robot_description -model mobile_base -x 0 -y 0 -z 0.4 -Y 0" />
             <!---注释 x 0 -y 0 -z 0.4：初始位置为 (0, 0, 0.4)，即机器人被放置在 z=0.4 的高度。-Y 0：初始偏航角（yaw）为 0 度-->

</launch>

